td[background] {
    visibility: hidden;
}

.smscFrameTitleContainer .smscFrameTitle {
    color: #ffffff !important;
    border-radius: 3px !important;
    background: #3a3a3a !important;
    border: 0px solid #a3a3a3 !important;
    box-shadow: 0px 0px 0px #888 !important;
}
body, button, input, select, textarea {
    color: #ffffff !important;
}
newltoptable {
   background-color: #3a3a3a !important;
} 
.smscAdminNav_body .smscAdminNav_body_link a {
    color: #ffffff !important;
}
.agenda_grid_main .agenda_grid_days_header .agenda_grid_header_days .agenda_grid_header_day {
    color: #ffffff !important;
}
body, html {
    background-color: #1a1a1a !important;
}
body {
    border-top: #ffffff !important;
}
.border.centerxy {
    background-color: #1a1a1a !important;
    border-right: 0px solid #d4d4d4 !important;
    float: none !important;
}
.topnav__menu {
    background-color: #3a3a3aEB !important;
    border: 1px solid #3a3a3aEB !important;
}
/* .smscMain:active {
  -webkit-filter: blur(4px); 
} 
*/
.smsc-topnav .topnav__menuitem:not(:hover) {
    color: #ffffff !important;
}
.modern-ui .smsc-topnav .topnav, .smsc-topnav .topnav {
    background: #3a3a3a !important;
    border-radius: 10px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 5px !important;
    width: fit-content !important;
    opacity: 10%;
}
.modern-ui:hover .smsc-topnav:hover .topnav:hover, .smsc-topnav:hover .topnav:hover nav:hover {
    opacity: 100%;
}
article, aside, footer, header, nav, section {
    display: flex !important;
    justify-content: center !important;
}
.color_snow_white {
    background-color: #3a3a3a !important;
    border: 1px solid #3a3a3a !important;
    color: #ffffff !important;
}
.color_zilver {
    border: 1px solid #898989 !important;
    background-color: #898989 !important;
    color: #ffffff !important;
}
.agenda_grid_main .agenda_grid_days_header .agenda_grid_header_days .agenda_grid_header_day {
    color: #ffffff !important;
}
#smscleftnav .smscleftnavcontainer {
    padding: 5px !important;
    background-color: #3a3a3a !important;
    border: 0px solid #3a3a3a !important;
    box-shadow: 0px 0px 0px !important;
}
.smsc-column-nav__button {
    color: #ffffff !important;
}
.smsc-column-nav__button:hover {
    color: #000000 !important;
}
.border.centery.topy {
    height: 0px !important;
}
.border.centery.bottomy {
  height: 0px !important;
}
.smsc_cm_body_row {
    border-bottom: 0px solid #c4c4c4 !important;
    padding-bottom: 1px !important;
}
.smsc_cm_body {
    background-color: #3a3a3a !important;
}
/*.smscFrameTitleContainer {
    background-color: #3a3a3a !important;
}*/
td {
    background-color: #3a3a3a !important;
}
.live__page {
    box-shadow: 0px 0px 0px #ccc !important;
    border: 0px solid #a2a2a2 !important;
    background-color: #3a3a3a;
}
.live-session .live__quick-nav {
    border-bottom: 0px solid #3a3a3a !important;
    background-color: #3a3a3a !important;
}
ui.modern-ui--larger-font .smsc-title--3, .modern-ui.modern-ui--larger-font .smsc-title--4, .modern-ui.modern-ui--larger-font .title--3, .modern-ui.modern-ui--larger-font .title--4, .modern-ui.modern-ui--larger-font button, .modern-ui.modern-ui--larger-font input, .modern-ui.modern-ui--larger-font pre, .modern-ui.modern-ui--larger-font select, .modern-ui.modern-ui--larger-font textarea {
    color: #ffffff !important;
}
:root {
    color-white: #1a1a1a !important;
    color-off-white: #1a1a1a important;
    color-black: #ffffff !important;
    color-gray: #ffffff !important;
    color-gray-dark: #ffffff !important;
    color-gray-light: #8B9AA8 !important;
    color-gray-darkest: #111111 !important;
    color-gray-lighter: #3a3a3a !important;
    color-gray-lightest: #d4d9df !important;
    color-blue-light: #54a1f3 !important;
    color-blue-lighter: #92BCEA !important;
    color-blue-lightest: #E4ECF2 !important;
    color-primary: #000000 !important;
    color-success: #008081 !important;
    color-danger: #DF2721 !important;
    color-warning: purple !important;
    color-background: var(--color-gray-dark) !important;
    color-text: var(--color-gray) !important;
    color-heading: var(--color-gray-dark) !important;
    color-link: var(--color-primary) !important;
    color-link-hover: #ffffff !important;
    color-gray-label: var(--color-gray) !important;
    color-transparent: #ff000000 !important;
}
.input--2wilPX {
    flex: 1 !important;
    background: #3a3a3a !important;
    color: #ffffff !important;
}
.modal--1DxJyC
{
    background-color: #3a3a3a
}
.audioBtn--1H6rCK span:first-child {
    color: #4C4C4 !important;
    background-color: #696969 !important;
    border: 5px solid #838383 !important;
}
.notifs-toaster__toast {
    background-color: #3a3a3a !important;
}
.msgContent {
    background-color: #1A1A1A !important;
}
body.modern-ui {
    background-color: #1a1a1a !important;
}
.navNextInput, .navPrevInput {
    background-color: #3a3a3a !important;
}
.border {
    background-image: url() !important;
}
.border.centery.bottomy {
    border-bottom: 0px solid #764a4a !important;
}
.border.centery.righty {
    border-bottom: 0px solid #764a4a !important;
}.border.centerxy {
    background-image: url() !important;
}
#smscMainBlockContainer {
    background-color: #1a1a1a !important;
    border: 0px solid #a2a2a2 !important;
    box-shadow: 0px 0px 0px #ccc !important;
}
.messageList--hsNac {
    background: #3a3a3a !important
}
.chat--111wNM {
    background-color: #3a3a3a !important;
}
.smsc_cm_breadcrumb a, .smsc_cm_link {
    color: #ffffff;
}
a, a:hover {
    color: #a9a9a9;
}
.smsc_cm_body_row_block_mime {
    color: #bfbfbf;
}
.msgContentVal div{
    color: #b7b7b7 !important; 
}
.modern-ui .smsc-title--1 {
    color: #ffffff !important;
}
.toolbar {
    background-color: #1A1A1A !important;
}
.postbox_link, .postbox_linkh {
    color: #ffffff !important;
}
.modern-ui .context-menu {
    background-color: #3a3a3a !important;
    border-radius: 8px !important;
    border: 0px solid grey !important;
    box-shadow: 0px 0px 0px #777 !important;
}
.modern-ui .modern-message:not(.modern-message--new):not(.modern-message--selected) {
    color: #ffffff !important;
}

.modern-ui:hover .modern-message:hover {
    color: #000000 !important;
}
.modern-message--selected{
  color: #000000 !important;
}
.modern-ui .smscButton {
      border: 0px solid #ccc !important;
    background-color: #3a3a3a !important;
}
.smsc-contextmenu .smsc-contextmenu-bubble {
    background-color: #3a3a3a !important;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 50%) !important;
    border: 0px solid #868686 !important;
}
#sort_list_menu .smsc-contextmenu-bubble>.menu-linkbutton {
    color: #ffffff !important;
}
td:not(.navigationContainer > table > tbody > tr > td):not(.uploadzone > tbody > tr > td):not(.modmessages > tbody > tr > td) {
    border-radius: 8px !important;
    padding: 12px !important;
}
.navigationContainer > table > tbody > tr
{
    /* agenda date code */
}
.margin-top--milli:not(#agenda_main):not(.uploadzone) :not(.smscMainBlockContainer) {
    margin-top: -30px !important;
    margin-left: -30px !important;
}
.smscFrameTitleContainer:not(.no_height) {
    margin-top: 20px !important;
}
.frame-title.smscFrameTitleContainer>.smscFrameTitle {
    top: -55px !important;
}
#coursesMenu:focus-within ~ #smscMain { -webkit-filter: blur(8px) !important; }
.modmessages > tbody > tr > td {
   background-color: #1A1A1A !important;
}
td > table > tbody > tr > td{
  background-color: #1A1A1A !important;
}
::selection{
  background: #5C5C5C !important;
}
.modern-ui .msgHeaderVal--sender{
  color: #ffffff !important;
}
.tree li a, .tree li span {
      color: #ffffff;
}
.topnav__menuitem:hover {
  color: black;
}
.smscBlockContainer_top {
    background-color: #5C5C5C !important;
    border: 0px solid #a2a2a2;
    border-radius: 8px;
    box-shadow: 0px 0px 0px #cccccc;
}
.smscBlockContainer_right {
    background-color: #5C5C5C !important;
    border: 0px solid #a2a2a2 !important;
    border-radius: 8px !important;
    box-shadow: 0px 0px 0px #cccccc !important;
    overflow-y: auto !important;
}
.smscBlockContainer_left {
    background-color: #5C5C5C !important;
    border: 0px solid #a2a2a2 !important;
    border-radius: 8px !important;
    box-shadow: 0px 0px 0px #cccccc !important;
    overflow-y: auto !important;
}
.infoBlock .infoBlock_titles .titleLeft {
    
    background-color: #5C5C5C  !important;
    color: #ffffff !important;
}
.infoBlock .infoBlock_titles .titleRight {
    background-color: #3a3a3a !important;
    border-radius: 6px !important;
    border: 0px solid !important;
    color: #cccccc  !important;
}
.smsc-topnav [data-notifs] .notification__btn {
    border-radius: 0 !important;
    color: #ffffff !important
}
.notifs-toaster {
  border: 0px;
}
